@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  background-color: #222;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.navbar {
  font-weight: bold;
}

.nav-link.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.diagram {
  max-height: 260px;
}

.diagram-clicker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

select.select-dark {
  background-color: #222;
  color: inherit;
  border: 1px #888 solid;
  width: auto;
  font-size: 100%;
}

.container {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .control-panel {
    padding-top: 2rem;
  }
}

.disabled {
  opacity: 0.5;
}

.control-name {
  line-height: 2rem;
}

.control-col {
  padding-right: 5px;
  padding-left: 0;
  font-size: 90%;
  white-space: nowrap;
}

.control-col input[type=range] {
  height: 2rem;
  width: 90%;
  margin: 0 5%;
}

.control-col .control-value {
  line-height: 2rem;
}

canvas {
  max-height: 260px;
  width: 100%;
}

.dropdown-menu li {
  padding: 0.125rem 1rem;
}

.dropdown-menu a, a:visited {
  text-decoration: none;
  color: inherit;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}

.modal {
  color: #222;
}

.modal-body form {
  margin-top: 1rem;
}

.svg-github {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23eee%22%3E%3Cpath%20d%3D%22M12%20.3C5.37.3%200%205.67%200%2012.3c0%205.3%203.44%209.8%208.2%2011.38.6.12.83-.26.83-.57l-.02-2c-3.3.7-4-1.6-4-1.6-.5-1.4-1.3-1.74-1.3-1.74-1.1-.72.1-.7.1-.7%201.2.1%201.84%201.23%201.84%201.23%201.07%201.83%202.8%201.3%203.5%201%20.1-.78.4-1.3.75-1.6-2.67-.3-5.47-1.34-5.47-5.94%200-1.3.47-2.4%201.24-3.23-.14-.3-.54-1.52.1-3.2%200%200%201-.32%203.3%201.2.96-.23%201.98-.4%203-.4s2.04.17%203%20.4c2.28-1.52%203.3-1.2%203.3-1.2.63%201.65.23%202.87.1%203.17.77.83%201.24%201.9%201.24%203.2%200%204.6-2.8%205.6-5.47%205.9.4.36.8%201.1.8%202.2v3.3c0%20.3.2.7.8.58C20.57%2022.1%2024%2017.6%2024%2012.3c0-6.63-5.37-12-12-12%22%2F%3E%3C%2Fsvg%3E');
}

.svg {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.nav-icon {
  padding: 4px 16px;
}

.modal-reference section {
  padding-top: 0.5rem;
}

.modal-reference section p {
  padding-left: 0.5rem;
}

.modal-reference h6 {
  font-weight: bold;
}
